@import "compass/css3";
@import "compass/css3/animation";
.layout {
    > .dragEnter {
        // @include animation(dragEnter 2s infinite ease-out);
        background-color: #5599FF;
        opacity: 0.5;
        border: 2px solid blue;
        @include transition(border-color, opacity, background-color, 1s);
    }
}
