@import "compass/css3";
@import "compass/css3/animation";
.layout {
    > .dragEnter {
        // @include animation(dragEnter 2s infinite ease-out);
        background-color: #5599FF;
        opacity: 0.5;
        border: 2px solid blue;
        @include transition(border-color, opacity, background-color, 1s);
    }
}
@include keyframes(dragEnter) {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: skyblue;
    }

    100% {
        background-color: #fff;
    }
};

@mixin keyframes($name, $deprecated-prefixes...) {
    $warned: warn-about-useless-prefix-arguments($deprecated-prefixes...);
    @include with-each-prefix(css-animation, $animation-support-threshold) {
        // It would be nice if we could dynamically construct directive names.
        @if $current-prefix == -moz {
            @-moz-keyframes #{$name} {
                @content;
            }
        }
        @if $current-prefix == -webkit {
            @-webkit-keyframes #{$name} {
                @content;
            }
        }
        @if $current-prefix == -o {
            @-o-keyframes #{$name} {
                @content;
            }
        }
        @if $current-prefix == -ms {
            @-ms-keyframes #{$name} {
                @content;
            }
        }
        @if $current-prefix == null {
            @keyframes #{$name} {
                @content;
            }
        }
    }
}
